<launch>
  <node name="aruco_tracker" pkg="nodelet" type="nodelet"
    args="standalone aruco_opencv/ArucoTracker" output="screen">
    <rosparam command="load"
      file="$(find aruco_opencv)/config/aruco_tracker.yaml" />
    <param name="board_descriptions_path"
      value="$(find aruco_opencv)/config/board_descriptions.yaml" />
  </node>
</launch> 