name: CI-Iron

on:
  workflow_dispatch:
  push:
    branches:
      - iron
  pull_request:
    branches:
      - iron

env:
 ROS_DISTRO: iron

jobs:
  industrial_ci:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        ROS_REPO: [testing, main]
    env:
      ROS_REPO: ${{ matrix.ROS_REPO }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Source tests
        uses: "ros-industrial/industrial_ci@master"
